/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: rgba(1, 3, 91, 0.9);
    text-decoration: none;
  }
  
  a:hover {
    color: #34e5a6;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1acc8d;
    border-top-color: #d2f9eb;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: rgba(1, 3, 91, 0.9);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #2be4a2;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Disable AOS delay on mobile
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    height: 60px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: rgba(3, 201, 136, 0.9);
  }
  
  #header .backButton{
  background-color: transparent;
  border: none;
  cursor: pointer;
  }
  
  #header .backButton:hover{
   transform: scale(1.2);
    }
  
  #header.header-scrolled {
    background: rgba(3, 201, 136, 0.9) !important;
    height: 60px;
  }
  
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 3px;
    left: 30px;
    background-color: #FFCC00;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 25px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #FFCC00;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 30px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #01036f;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #1acc8d;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 3, 91, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile>ul>li>a:before {
    left: 20px;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #0205a1;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #3f43fd;
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul,
  .navbar-mobile .dropdown .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li,
  .navbar-mobile .dropdown .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a,
  .navbar-mobile .dropdown .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i,
  .navbar-mobile .dropdown .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a,
  .navbar-mobile .dropdown .dropdown ul a:hover,
  .navbar-mobile .dropdown .dropdown ul .active:hover,
  .navbar-mobile .dropdown .dropdown ul li:hover>a {
    color: #1acc8d;
  }
  
  .navbar-mobile .dropdown>.dropdown-active,
  .navbar-mobile .dropdown .dropdown>.dropdown-active {
    display: block;
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    background: url("../img/hero-bg.jpg");
    position: relative;
    padding: 120px 0 0 0;
  }
  
  #hero:before {
    content: "";
    background: rgba(3, 201, 136, 0.91);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero h1 {
    margin: 0 0 20px 0;
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 56px;
    color: rgba(255, 255, 255, 0.8);
  }
  
  #hero h1 span {
    color: #fff;
    border-bottom: 4px solid #1acc8d;
  }
  
  #hero h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
    font-size: 24px;
  }
  
  #hero .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background:  #010483;
  }
  
  #hero .btn-get-started:hover {
    background: #FFCC00;
  }
  
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 991px) {
    #hero {
      padding-top: 80px;
    }
  
    #hero .animated {
      animation: none;
    }
  
    #hero .hero-img {
      text-align: center;
    }
  
    #hero .hero-img img {
      max-width: 50%;
    }
  
    #hero h1 {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 10px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 575px) {
    #hero .hero-img img {
      width: 80%;
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }
  
  .hero-waves {
    display: block;
    margin-top: 60px;
    width: 100%;
    height: 60px;
    z-index: 5;
    position: relative;
  }
  
  .wave1 use {
    animation: move-forever1 10s linear infinite;
    animation-delay: -2s;
  }
  
  .wave2 use {
    animation: move-forever2 8s linear infinite;
    animation-delay: -2s;
  }
  
  .wave3 use {
    animation: move-forever3 6s linear infinite;
    animation-delay: -2s;
  }
  
  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
  
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 50px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: rgba(3, 201, 136, 0.08);
  }
  
  .section-title {
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #03C988;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #FFCC00;
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #010483;
  }
  
  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 20px 0;
    background-color: #fafaff;
    min-height: 40px;
    margin-top: 80px;
  }
  
  @media (max-width: 992px) {
    .breadcrumbs {
      margin-top: 64px;
    }
  }
  
  .breadcrumbs h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }
  
  @media (max-width: 992px) {
    .breadcrumbs h2 {
      margin: 0 0 10px 0;
    }
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  
  .breadcrumbs ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
  }
  
  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
  
    .breadcrumbs ol {
      display: block;
    }
  
    .breadcrumbs ol li {
      display: inline-block;
    }
  }
  
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .services .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: #fff;
    margin-top: 12px;
  
  }
  
  .services .icon-box .icon {
    margin-bottom: 10px;
  }
  
  .services .icon-box .icon i {
    color: #e93305;
    font-size: 36px;
    transition: 0.3s;
  }
  
  .services .icon-box h4 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 22px;
  }
  
  .services .rowss {
    display: flex;
    justify-content:space-around; /* Adjust this as needed */
    align-items: center;
    flex-wrap: wrap; /* To handle responsive behavior */
  }
  
  .services .button2{
    margin-top: 27px;
    text-align: center;
  }
  
  
  .services .btn2{
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #03C988;
    color: white;
    font-weight: 500;
    text-align: center;
    justify-content: center;
  }
  
  .services .btn2:hover{
    background-color: #02a972;
  }
  
  
  .services .subTopic{
    line-height: 20px;
    font-size: 14px;
    color: grey;
    margin-bottom: 0;
    font-weight: 600;
  }
  
  .services .icon-box:hover {
    transform: translateY(-10px);
  }
  
  
  .services #row2{
    margin-top: 25px;
  }
  
  
  .services .group{
    font-weight: 600;
    margin-top: 10px;
    color: #010483;
    font-size: 18px !important;
    text-align: center;
  }
  
  .services .downloadDes{
    margin-top: -10px;
    margin-bottom: 35px;
    font-size: 16px;
  }
  
  .services .presentation{
    margin-top: 55px;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #010483;
  }
  
  .services .spaces{
    color: transparent;
  }
  
  .services .button{
    margin-top: 20px;
    text-align: center;
  }
  
  .services .btn{
    height: 40px;
    width: 160px;
    background-color: #03C988;
    color: white;
    text-align: center;
    justify-content: center;
  }
  
  .services .btn:hover{
   
    background-color: #02a972;
   
  }
  
  .services .topic{
    color: #37517e;
    transition: ease-in-out 0.3s;
    font-weight: bold;
  }
  
  .services .topic:hover{
    color: #03C988;
  }
  
  
  /*--------------------------------------------------------------
  # Objectives
  --------------------------------------------------------------*/
  .objectives .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    text-align: center;
    margin-top: 15px;
    border-bottom: 3px solid #fff;
  }
  
  .objectives .icon-box:hover {
    transform: translateY(-5px);
  }
  
  .objectives .icon i {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 15px;
  }
  
  .objectives .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 16px;
    margin-top: 20px;
   ;
  }
  
  .objectives .title{
    color: #111;
  }
  
  .objectives .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  
  .objectives .icon-box-pink .icon i {
    color: #ff689b;
  }
  
  .objectives .icon-box-pink:hover {
    border-color: #ff689b;
  }
  
  .objectives .icon-box-cyan .icon i {
    color: #3fcdc7;
  }
  
  .objectives .icon-box-cyan:hover {
    border-color: #3fcdc7;
  }
  
  .objectives .icon-box-green .icon i {
    color: #41cf2e;
  }
  
  .objectives .icon-box-green:hover {
    border-color: #41cf2e;
  }
  
  .objectives .icon-box-blue .icon i {
    color: #2282ff;
  }
  
  .objectives .icon-box-blue:hover {
    border-color: #2282ff;
  }
  
  
  
  /*--------------------------------------------------------------
  # Individual Component Section
  --------------------------------------------------------------*/
  
  .individual .img {
    border-radius: 8px;
    overflow: hidden;
  }
  
  .individual .img img {
    transition: 0.6s;
  }
  
  .individual .details {
    padding: 50px 30px;
    margin: -100px 30px 0 30px;
    transition: all ease-in-out 0.3s;
    background: white;
    position: relative;
    background: rgb(255, 255, 255, 0.9) !important;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0 25px rgba(0,0,0, 0.1);
  }
  
  .individual .details .icon {
    margin: 0;
    width: 72px;
    height: 72px;
    background: #03C988 ;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
    font-size: 28px;
    transition: ease-in-out 0.3s;
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    border: 6px solid white;
  }
  
  .individual .details h3 {
    color: #03C988;
    font-weight: 700;
    margin: 10px 0 15px 0;
    font-size: 22px;
    transition: ease-in-out 0.3s;
  }
  
  .individual .details p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .individual .service-item:hover .details h3 {
    color: #03C988;
  }
  
  .individual .service-item:hover .details .icon {
    background: white;
    border: 2px solid #03C988;
  }
  
  .individual .service-item:hover .details .icon i {
    color: #03C988;
  }
  
  .individual .service-item:hover .img img {
    transform: scale(1.2);
  }
  
  
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .about {
    padding: 40px 0 0 0;
  }
  
  .about .icon-boxes h3 {
    font-size: 28px;
    font-weight: 700;
    color: #010483;
    margin-bottom: 15px;
  }
  
  .about .icon-box {
    margin-top: 40px;
  }
  
  .about .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #7ceec6;
    border-radius: 50px;
    transition: 0.5s;
  }
  
  .about .icon-box .icon i {
    color: #1acc8d;
    font-size: 32px;
  }
  
  .about .icon-box:hover .icon {
    background: #1acc8d;
    border-color: #1acc8d;
  }
  
  .about .icon-box:hover .icon i {
    color: #fff;
  }
  
  .about .icon-box .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .about .icon-box .title a {
    color: #343a40;
    transition: 0.3s;
  }
  
  .about .icon-box .title a:hover {
    color: #1acc8d;
  }
  
  .about .icon-box .description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
  }
  
  .about .video-box {
    background: url("../img/fertilizer/ferti.jpg") center center no-repeat;
    background-size: contain;
    min-height: 300px;
 
  }


  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  /*--------------------------------------------------------------
  # Features
  --------------------------------------------------------------*/
  .features .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #f5f5ff;
    transition: ease-in-out 0.3s;
  }
  
  .features .icon-box i {
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
  }
  
  .features .icon-box h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
  }
  
  .features .icon-box h3 a {
    color: #010483;
    transition: ease-in-out 0.3s;
  }
  
  .features .icon-box h3 a:hover {
    color: #01036f;
  }
  
  .features .icon-box:hover {
    background: #ebebff;
  }
  
  
  /*--------------------------------------------------------------
  # Portfolio
  --------------------------------------------------------------*/
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  
  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 0 35px 0;
    list-style: none;
    text-align: center;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 0 5px 5px 0;
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .portfolio #portfolio-flters li:hover,
  .portfolio #portfolio-flters li.filter-active {
    color: #fdc134;
  }
  
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  .portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    justify-content: center;
    align-self: center;
    text-align: center;
    z-index: 1;
  }
  
  .portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(33, 59, 82, 0.6);
    position: absolute;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    
  }
  
  .portfolio .portfolio-wrap img {
    transition: 0.3s;
  
  }
  
  .portfolio .portfolio-wrap .portfolio-links {
    opacity: 0;
    left: 0;
    right: 0;
    top: calc(50% - 36px);
    text-align: center;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a {
    color: #fdc134;
    line-height: 0;
    text-align: center;
    width: 36px;
    height: 36px;
    display: inline-block;
    transition: 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a i {
    font-size: 32px;
    line-height: 0;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #fff;
  }
  
  .portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  
  .portfolio .portfolio-wrap .portfolio-info p {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .portfolio .portfolio-wrap:hover::before {
    left: 0;
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-links {
    opacity: 1;
    top: calc(50% - 18px);
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
  }
  
  
  
  /*--------------------------------------------------------------
  # Methodology
  --------------------------------------------------------------*/
  .methodology {
    padding: 40px 0 0 0;
  }
  
  .methodology .icon-boxes h3 {
    font-size: 28px;
    font-weight: 700;
    color: #010483;
    margin-bottom: 15px;
  }
  
  .methodology .icon-box {
    margin-top: 40px;
  }
  
  .methodology .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #7ceec6;
    border-radius: 50px;
    transition: 0.5s;
  }
  
  .methodology .icon-box .icon i {
    color: #1acc8d;
    font-size: 32px;
  }
  
  .methodology .icon-box:hover .icon {
    background: #1acc8d;
    border-color: #1acc8d;
  }
  
  .methodology .icon-box:hover .icon i {
    color: #fff;
  }
  
  .methodology .icon-box .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .methodology .icon-box .title a {
    color: #343a40;
    transition: 0.3s;
  }
  
  .methodology .icon-box .title a:hover {
    color: #1acc8d;
  }
  
  .methodology .icon-box .description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
  }
  
  .methodology .component{
    font-weight: bold;
  }
  
  .methodology .video-box {
    background: url("../img/fertilizer/ferti5.png") center center no-repeat;
    background-size: contain;
    min-height: 300px;
  }
  
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  
  
  /*--------------------------------------------------------------
  # Counts
  --------------------------------------------------------------*/
  .counts {
    background: #f5f5ff;
    padding: 70px 0 60px;
  }
  
  .counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #fff;
  }
  
  .counts .count-box i {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    background: #1acc8d;
    padding: 12px;
    color: #fff;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    width: 48px;
    height: 48px;
  }
  
  .counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #010483;
  }
  
  .counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
  }
  
  
  /*--------------------------------------------------------------
  # Research Problems
  --------------------------------------------------------------*/
  .researchProblem {
    padding-bottom: 30px;
  }

  .researchProblem .describe{
    margin-bottom: 30px;
    text-align: justify;
  }

  .researchProblem .spaces{
    color: transparent;
  }
  
  .researchProblem .icon-box {
    padding: 60px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    margin-top: 15px;
    text-align: center;
  }
  
  .researchProblem .icon-box::before {
    content: "";
    position: absolute;
    background: #fdeff2;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.4s;
    z-index: -1;
  }
  
  .researchProblem .icon-box:hover::before {
    background: rgba(3, 201, 136, 0.9);
    top: 0;
    border-radius: 0px;
  }
  
  .researchProblem .icon {
    margin-bottom: 15px;
  }
  
  .researchProblem .icon i {
    font-size: 48px;
    line-height: 1;
    color: rgba(3, 201, 136, 0.9);
    transition: all 0.3s ease-in-out;
  }
  
  .researchProblem .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: center !important;
    font-weight: 800;
    color: #000;
  }

  .researchProblem .description2 {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: justify;
    font-weight: 600;
  }
  
  .researchProblem .icon-box:hover .title a,
  .researchProblem .icon-box:hover .description {
    color: #fff;
  }
  
  .researchProblem .icon-box:hover .icon i {
    color: #fff;
  }

  .researchProblem .lastdes{
    margin-top: 30px;
    text-align: justify;
  }

  
  
  
  /*--------------------------------------------------------------
  # Technologies
  --------------------------------------------------------------*/
  .technologies {
    padding-top: 20px;
  }
  
  .technologies .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
    box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.12);
  }
  
  
  .technologies .icon-box h3 {
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 20px;
  }
  
  .technologies .tech{
    height: 60px;
    width: 60px;
    object-fit: contain;
    margin-right: 20px;
  }
  
  .technologies .icon-box h3 a {
    color: #493c3e;
    transition: ease-in-out 0.3s;
  }
  
  .technologies .icon-box:hover a {
    color: rgba(3, 201, 136);
  }
  
  
  
  /*--------------------------------------------------------------
  # Research Gap
  --------------------------------------------------------------*/
  .researchGap .content+.content {
    margin-top: 40px;
  }
  
  .researchGap .content h3 {
    font-weight: 600;
    font-size: 26px;
    margin-top: 10px;
    color: #010483;
    text-align: justify;
  }
  
  .researchGap .describe{
    margin-bottom: 40px;
    text-align: justify;
  }

  .researchGap .ind{
    margin-top: 20px;
    font-weight: 700;
  }
  
  
  .researchGap .content p:last-child {
    margin-bottom: 0;
    text-align: justify;
  }

  .researchGap .lastdes{
    margin-top: 30px;
    text-align: justify;
  }
  
  
  
    /*--------------------------------------------------------------
  # Solution
  --------------------------------------------------------------*/
  .solution .content+.content {
    margin-top: 40px;
  }
  
  .solution .content h3 {
    font-weight: 600;
    font-size: 26px;
    margin-top: 10px;
    color: #010483;
    text-align: justify;
  }
  
  .solution .describe{
    margin-bottom: 40px;
    text-align: justify;
  }

  .solution .ind{
    margin-top: 20px;
    font-weight: 700;
  }
  
  
  .solution .content p:last-child {
    margin-bottom: 0;
    text-align: justify;
  }

  .solution .lastdes{
    margin-top: 30px;
    text-align: justify;
  }

  .solution .title{
    font-weight: 700;
    color: #000;
    text-align: justify;
  }

  .solution .des{
text-align: justify;
  }
  
  
  /*--------------------------------------------------------------
  # Team
  --------------------------------------------------------------*/
  .team {
    background: #fff;
    padding: 60px 0;
  }
  
  .team .member {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
  }
  
  .department{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #010483;
    margin-top: -16px;
  }
  
  .team .member .member-img {
    position: relative;
    overflow: hidden;
  
  }
  
  .team .member .member-img:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url(../img/team-shape.svg) no-repeat center bottom;
    background-size: contain;
    z-index: 1;
  }
  
  .team .member .social {
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
  }
  
  .team .member .social a {
    transition: color 0.3s;
    color: rgba(1, 41, 112, 0.5);
    margin: 15px 12px;
    display: block;
    line-height: 0;
    text-align: center;
  }
  
  .team .member .social a:hover {
    color: rgba(1, 41, 112, 0.8);
  }
  
  .team .member .social i {
    font-size: 18px;
  }
  
  .team .member .member-info {
    padding: 10px 15px 20px 15px;
  }
  
  .team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #012970;
  }
  
  .team .member .member-info span {
    display: block;
    font-size: 15px;
    font-weight: 800;
    color: #1acc8d;
  }
  
  .team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    color: #5e5e5e;
  }
  
  .team .member:hover {
    transform: scale(1.08);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  }
  
  .team .member:hover .social {
    right: 8px;
    opacity: 1;
  }
  
  
  /*--------------------------------------------------------------
  # Timeline
  --------------------------------------------------------------*/
  
  
  .main-timeline {
    position: relative
  }
  
  .main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #FFCC00;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
  }
  
  .main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
  }
  
  .main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
  }
  
  .main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
  }
  
  .main-timeline .icon:before,
  .main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
  }
  
  .main-timeline .icon:before {
    background: #fff;
    border: 2px solid #FFCC00;
    left: -3px
  }
  
  .main-timeline .icon:after {
    border: 2px solid #1acc8d;
    left: 3px
  }
  
  
  .main-timeline .timeline:hover .icon:before {
    left: 3px
  }
  
  .main-timeline .timeline:hover .icon:after {
    left: -3px
  }
  
  .main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
  }
  
  .main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #1acc8d;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
  }
  
  .main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
  }
  
  
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
  }
  
  .main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #1acc8d;
    left: -6px
  }
  
  .main-timeline .date-outer:after {
    border: 2px solid #FFCC00;
    left: 6px
  }
  
  .main-timeline .timeline:hover .date-outer:before {
    left: 6px
  }
  
  .main-timeline .timeline:hover .date-outer:after {
    left: -6px
  }
  
  .main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
  }
  
  .main-timeline .month {
    font-size: 18px;
    font-weight: 700
  }
  
  .main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #1acc8d;
    line-height: 36px
  }
  
  .main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
  }
  
  .main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
  }
  
  .main-timeline .description {
    margin-bottom: 0
  }
  
  .main-timeline .timeline:nth-child(2n) .date-content {
    float: right
  }
  
  .main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
  }
  
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
  }
  
  .main-timeline .marks{
    margin-top: 10px;
    font-weight: 700;
    color: #01036f;
  }
  
  
  @media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
  }
  
  @media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
  }
  
  
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    background:  rgba(3, 201, 136, 0.9);
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #010351;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #010351;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }
  
  @media (max-width: 575px) {
    #footer .footer-top .footer-info {
      margin: -20px 0 30px 0;
    }
  }
  
  .description{
  text-align: justify;
  }
  
  
  